include ./../btn/btn

mixin dropdown(params)
    -
        const {
            separate=false,
            label,
            items,
            noun,
            initialSelectionText='',
            controls=false } = params;
    //- Here is nouns for not separated selection
    div(
        class=`dropdown ${separate ? 'dropdown--separate' : ''}`
        data-noun-one=(!separate && noun.one)
        data-noun-two=(!separate && noun.two)
        data-noun-five=(!separate && noun.five)
        data-initial-selection-text=initialSelectionText
    )
        p.dropdown__title.title.title--label= label
        div.iqdropdown
            p.dropdown__selection.iqdropdown-selection
                p.dropdown__more-icon.material-icons expand_more
            div.dropdown__menu.iqdropdown-menu
                - let i = 0
                for item in items
                    - const { label, dataId, noun } = item;
                    //- Here is nouns for separated selection
                    div.dropdown__option.iqdropdown-menu-option(
                        data-id=dataId
                        data-noun-one=(separate && noun.one)
                        data-noun-two=(separate && noun.two)
                        data-noun-five=(separate && noun.five)
                    )
                        div
                            p.dropdown__item.iqdropdown-item= label

                if controls
                    div.dropdown__controls
                        div.dropdown__reset-btn.hidden
                            +btn({
                                linkStyle: true,
                                gray: true,
                                label: 'Очистить',
                            })
                        div.dropdown__apply-btn
                            +btn({
                                linkStyle: true,
                                label: 'Применить',
                            })
