mixin radio(params)
    -
        const { name,
              inputs,
              checked,
              className='', // Additional classes for input
              disabled } = params;

    each input in inputs
        - const { value, label } = input;

        .radio
            label.radio__label
                input.radio__input(
                    class=`radio__input visuallyhidden ${className}`
                    type='radio',
                    name=name,
                    value=value,
                    checked=checked
                    disabled=disabled
                )
                span.radio__custom-radio
                span.radio__label-text= label
