mixin radio(params)
    -
        const {
            name,
            inputs,
        } = params;

    each input in inputs
        - const { value, label, checked, disabled } = input;

        .radio
            label.radio__label
                input.radio__input(
                    class=`radio__input visuallyhidden`
                    type='radio',
                    name=name,
                    value=value,
                    checked=checked
                    disabled=disabled
                )
                span.radio__custom-radio
                span.radio__label-text= label
