include ./../like-btn/like-btn

mixin review(params)
    -
        const { image, name, likes, isLiked, text } = params;
        const moment = require('moment');
        moment.locale('ru');
        const date = moment().to(params.date);

    div.review
        div.review__left
            div.review__avatar
                img(
                    src=require(`./../../assets/img/${image}.jpg`)
                    srcset=require(`./../../assets/img/${image}@2x.jpg`) + ' 2x'
                    alt=name
                )
            div.review__likes
                +likeBtn(likes, isLiked)
        div.review__right
            p.review__name= name
            p.review__date= date
            p.review__text= text
