include ./../like-btn/like-btn

mixin review(params)
    -
        const { imageUrl, imageUrlRetina, name, likes, text } = params;
        const moment = require('moment');
        moment.locale('ru');
        const date = moment().to(params.date);

    div.review
        div.review__left
            div.review__avatar
                img(src=imageUrl alt=name srcset=`${imageUrlRetina} 2x`)
            div.review__likes
                +likeBtn(likes)
        div.review__right
            p.review__name= name
            p.review__date= date
            p.review__text= text
