mixin btn(params)
    -
        const {
            label,
            type='submit',
            light=false, // true if --light
            linkStyle=false, // --link-style
            gray=false, // --gray
            blockArrow=false, // --block-arrow
            href, // if you want <a> instead of <button>
            disabled,
        } = params;

        const lightMod = (light) ? 'btn--light' : '';
        const linkStyleMod = (linkStyle) ? 'btn--link-style' : '';
        const grayMod = (linkStyle && gray) ? 'btn--gray' : '';
        const blockArrowMod = (blockArrow) ? 'btn--block-arrow' : '';

        const resultClassName = `btn ${lightMod} ${linkStyleMod} ${blockArrowMod} ${grayMod}`; // all classes

    mixin btnContent(label)
        div.btn__content
            span.btn__label= label
            i.btn__arrow.material-icons arrow_forward

    if href
        a(
            class=resultClassName
            href=href
            disabled=disabled
            role="button"
        )
            +btnContent(label)
    else
        button(
            class=resultClassName
            type=type
            disabled=disabled
        )
            +btnContent(label)
