//- Input for text/number/email/password/
mixin field(params)
    -
        const {
            label,
            nameAttr,
            type='text',
            placeholder,
            value,
            disabled=false,
            hideLabel,
            autocomplete,
            masked,
            arrowIcon,
        } = params;
    - const arrowIconMod = (arrowIcon) ? 'field--arrow-icon' : '';

    case type
        when 'password'
        when 'number'
        when 'email'
        when 'text'
            div(class=`field ${arrowIconMod}`)
                label.field__container
                    p(class=`title title--label ${hideLabel ? 'visuallyhidden' : ''}`)= label
                    input.field__input(
                        type=type
                        name=nameAttr
                        placeholder=placeholder || label
                        value=value
                        disabled=disabled
                        autocomplete=(typeof autocomplete === 'undefined') ? 'true' : autocomplete
                        data-masked=masked
                    )
                    i.field__arrow-icon.material-icons arrow_forward

        default
            p This field type is not defined in this component
