//- Input for text/number/email/password/
mixin field(params)
    -
        const {
            label,
            nameAttr,
            type='text',
            placeholder,
            value,
            disabled=false,
        } = params;

    case type
        when 'password'
        when 'number'
        when 'email'
        when 'text'
            .field
                label.field__container
                    p.field__label.title.title--label= label
                    input.field__input(
                        type=type
                        name=nameAttr
                        placeholder=placeholder || label
                        value=value
                        disabled=disabled
                    )

        default
            p This field type is not defined in this component
