include ../icon/icon

mixin checkbox(params)
    -
        const { label,
                name,
                className='', // Additional classes for input
                value,
                checked=false,
                description='',
                disabled=false } = params;

        const richMod = (description) ? 'checkbox--rich' : 'checkbox';

    div(class=`checkbox ${richMod}`)
        label.checkbox__container(tabindex=0)
            input(
                class=`checkbox__input visuallyhidden ${className}`
                type='checkbox'
                name=name
                checked=checked
                disabled=disabled
                value=value
            )

            span.checkbox__custom-box
                +icon('checkbox__check-icon fas fa-check')

            div.checkbox__text
                span.checkbox__label= label

                if description
                    p.checkbox__description= description
