include ./../btn/btn

mixin c-datepicker(param)
    - const { range, twoFields, label, fields } = param;
    - const DEFAULT_VALUE = 'ДД.ММ.ГГГГ';

    div.c-datepicker(data-two-fields= (twoFields) ? 'true' : 'false')
        div.c-datepicker__output
            label.c-datepicker__input-label
                span.title.title--label= label
                input.c-datepicker__input(
                    value=DEFAULT_VALUE
                    disabled=twoFields
                    data-range= (range || twoFields) ? 'true' : 'false'
                    data-multiple-dates-separator= (range && !twoFields) ? ' - ' : null
                )
                i.c-datepicker__more-icon.material-icons expand_more

            if twoFields
                label.c-datepicker__start-label
                    span.title.title--label= fields[0]
                    input.c-datepicker__start(type='text' value=DEFAULT_VALUE readonly)
                    i.c-datepicker__more-icon.material-icons expand_more
                label.c-datepicker__end-label
                    span.title.title--label= fields[1]
                    input.c-datepicker__end(type='text' value=DEFAULT_VALUE readonly)
                    i.c-datepicker__more-icon.material-icons expand_more

        div.c-datepicker__controls.hidden
            div.c-datepicker__reset
                +btn({
                  label: 'Очистить',
                  type: 'button',
                  linkStyle: true,
                  gray: true,
                })
            div.c-datepicker__apply
                +btn({
                  label: 'Применить',
                  type: 'button',
                  linkStyle: true,
                })
